/* Base styles (1440px and up) */
.register-page {
  display: flex;
  flex-direction: column;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form-name-container,
.register-email-number-container,
.register-password-container {
  display: flex;
  gap: 71px;
}

.register-password-container {
  margin-bottom: 20px;
}

.first-name-container {
  width: 550px;
}

.register-text {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  font-variant: small-caps;
  color: #BE7200;
  margin-bottom: 0;
}


.register-input {
  margin-top: 15px;
  width: 455px;
  border-radius: 15px;
  border-width: 1px;
  padding: 19px 51px;
  margin-bottom: 38px;
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 4%;
  font-variant: small-caps;
  color: #000000;
}

.have-account-text {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 15px;
  font-variant: small-caps;
  margin-bottom: 50px;
  text-align: left;
}

@media (max-width: 1366px) {
  .register-input {
    width: 400px;
    padding: 18px 40px;
  }

  .register-form-name-container,
  .register-email-number-container,
  .register-password-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .register-input {
    width: 455px;
    margin-bottom: 10px;
  }

}


@media (max-width: 768px) {

  .register-input {
    width: 100%;
    padding: 15px;
  }

  .account-sign-in, .account-register{
    font-size: 33px;
  }

}

@media (max-width: 480px) {

  .register-input {
    width: 90%;
  }

}
