/* ===============================================
   FRESH AND ORGANIC PALETTE
   =============================================== */
:root {
  --primary-bg: #F7F4EF;
  --primary-text: #3C493F;
  --primary-solid: #3C493F;
  --accent-color: #D6A77A;
  --secondary-bg: #C8D5B9;   
  --highlight-color: #C2B280;

  --nav-bg: var(--primary-solid);
  --nav-text-color: #F7F4EF;

  --heading-font: 'Playfair Display', serif;
  --body-font: 'Inter', sans-serif;

  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text);
  background-color: var(--primary-bg);

}

/* ===============================================
   WARM AND WHOLESOME PALETTE
   =============================================== */

/* :root {
  --primary-bg: #FAF9F6;         
  --primary-text: #4B3F3F;   
  --primary-solid: #E6DACE;   
  --accent-color: #A9746E;      
  --secondary-bg: #A3B18A;       
  --highlight-color: #E6DACE;    

  --nav-bg: var(--highlight-color);
  --nav-text-color: var(--primary-text);

  --heading-font: 'Quicksand', sans-serif;
  --body-font: 'Lora', serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

} */


/* ===============================================
   MINIMAL AND CLEAN PALETTE
   =============================================== */

/* :root {
  --primary-bg: #faf5f0;          
  --primary-text: #333333;        
  --primary-solid: #EDE6D6;       
  --accent-color: #8FA998;       
  --secondary-bg: #F1E8D9;        
  --highlight-color: #DDD6CE;     

  --nav-bg: #f8f0dc;             
  --nav-text-color: var(--primary-text);

  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Source Sans Pro', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text);
  background-color: var(--primary-bg);

} */


/* ===============================================
   BASE STYLES
   =============================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%; /* prevents horizontal scrollbars */
  overflow-x: hidden; /* prevents horizontal scrollbars */
  font-family: var(--body-font);
  background-color: var(--primary-bg);
  color: var(--primary-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-text);
}


.main {
  flex: 1;
  padding: 2rem;
  min-height: calc(100vh - 4.5rem - 3rem); /*body height -navbar height - footer height */
}

/* Buttons */
button {
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-bg);
  font-family: var(--body-font);
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--highlight-color);
}